.photo{
    margin-left: 450px;
    border-radius: 3px;
    margin-top: 20px;
}
.button{
    float: right;
}
.photo1{
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
}
.photo2{
    width: 100%;
    border-radius: 3px;
}
.photo3{
    margin-left: 230px;
    border-radius: 3px;
}
.photo4{
    width: 100%;
    border-radius: 3px;
    float: left;
}
.photo5{
    margin-left: 100px;
    border-radius: 3px;
}
.photo6{
    margin-left: 100px;
    width:550px;
    height: 423px;
    border-radius: 3px;
}
.photo7{

}
.photo8{

}
.photo8{

}
.exite{
    text-decoration: none;
    color: black;
}
.exite:hover{
    width: 40px;
    height: 20px;
    background-color: black;
    color: white;
}