@font-face {
    font-family: font;
    src: url(./font/BASKVILL.TTF);
}
@font-face {
    font-family: font2;
    src: url(./font/KUNSTLER.TTF);
}
.a1{
    text-align: center;
    background-color: darkcyan;
    width: 100%;
    font-family: font2;
    font-size: 55px;
    border-radius: 50px;
    margin-top: 20px;
}
.a2{
    width: 700px;
    height: 100px;
}
.a3{
    text-align: center;
}
.a4{
    background-color: black;
    width: 700px;
    height: 100px;
}
.a5{
    background-color: red;
    width: 700px;
    height: 100px;
}
.a6{
    background-color: yellow;
    width: 700px;
    height: 100px;
}
.a7{
    width: 700px;
    height: 100px;
    margin-top: 280px;
}
.a8{
    text-align: center;
}
.a9{
    background-color:red;
    width: 700px;
    height: 70px;
}
.a10{
    background-color:white;
    width: 700px;
    height: 70px;
}
.a11{
    background-color: red;
    width: 700px;
    height: 70px;
}
.a12{
    width: 700px;
    height: 400px;
    margin-top: 190px;
}
.a13{
    text-align: center;
}
.a14{
    background-color: green;
    width: 232px;
    height: 600px;
}
.a15{
    background-color: white;
    width: 232px;
    height: 600px;
}
.a16{
    background-color: red;
    width: 232px;
    height: 600px;
}
.a17{
    width: 700px;
    height: 400px;
    margin-top: 270px;
}
.a18{
    text-align: center;
}
.a19{
    background-color: blue;
    width: 232px;
    height: 600px;
}
.a20{
    background-color: white;
    width: 232px;
    height: 600px;
}
.a21{
    background-color: red;
    width: 232px;
    height: 600px;
}
.a22{
    width: 700px;
    height: 100px;
    margin-top: 270px;
}
.button{
    float: right;
    font-family: font;
    border-radius: 50px;
    margin-top: 5px;
}
.button2{
    clear: both;
    position: sticky;
    bottom: 5px;
    right: 10px;
    float: right;
    border: none;
    border-radius: 10px;
}
.back{
    text-decoration: none;
}
body{
    background-color: tan;
}
.width{
    margin-left: 400px;
    color:darkslategrey;
    font-family: font;
}
.buttonall{
    position:fixed;
    clear: both;
    margin-left: 70px;
}