.america{
    text-align: center;
}
.flag{
    margin-left: 500px;
    width: 500px;
    height: 250px;
    border-radius: 3px;
}
.aboutusa{
    text-align: center;
}
.font{
    font-size: 55px;
}
.film{
    float: right;
}