.button{
    float: right;
}
.flag{
    margin-left: 450px;
    border-radius: 3px;
}
.border{
    border-radius: 3px;
}
.photo1{
    width: 100%;
    border-radius: 3px;
}
.photo2{
    float: right;
    border-radius: 3px;
}
.photo3{
    width: 750px;
    border-radius: 3px;
}
.photo4{
    height: 549px;
    float: right;
    border-radius: 3px;
}
.photo5{
    margin-left: 450px;
    border-radius: 3px;
}
.photo6{
    width: 100%;
    border-radius: 3px;
}
.exite{
    text-decoration: none;
    color: black;
}
.exite:hover{
    width: 40px;
    height: 20px;
    background-color: black;
    color: white;
}