@font-face {
    font-family: font1;
    src: url(./font/BASKVILL.TTF);
}
@font-face {
    font-family: font2;
    src: url(./font/LCALLIG.TTF);
}
@font-face {
    font-family: font3;
    src: url(./font/arabtype.ttf);
}
@keyframes animate{
    0%,
    100%{
        background-position: left top;
    }
    25%{
        background-position: right bottom;
    }
    50%{
        background-position: left bottom;
    }
    75%{
        background-position: right top;
    }
}
select{
background-color:rgb(250, 200,230);
width: 100px;
height: 30px;
border-radius: 20px;
font-size: 22px;
font-family: font3;
}
.a1{
    text-align: center;
    font-family: font1;
}
.a2{
    margin-top: -55px;
}
.a3{
    width: 40%;
    height: 500px;
    border-radius: 20px;
    margin-left: 450px;
    border: 10px;
    border-style: double;
    border-color: bisque;
    padding: 5px;
}
.a3:hover{
    border-color: blue;
    border-radius: 50%;
    transition: 2s;
}
.tran{
    margin-top: 5px;
    margin-left: 455px;
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
}
.tran pre{
    margin: 0;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.01);
    background-image: url("R.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 100s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
.a5{
    margin-top: -47px;
}
body{
    background-image: url(background.jpg);
}
.about{
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: rgb(85, 79, 55);
    font-family: font3;
}