select{
background-color:rgb(250, 200,230);
width: 100px;
height: 30px;
border-radius: 20px;
}
.a1{
    text-align: center;
}
.a2{
    margin-top: -55px;
}
.a3{
    width: 40%;
    height: 500px;
    border-radius: 20px;
    margin-left: 450px;
}
.a4{
    text-align: center;
    font-size: 25px;
}
.a5{
    margin-top: -47px;
}
body{
    background-color:rgb(100,300,250);
}
.about{
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: rgb(114, 105, 71);
}