.a1{
    text-align: center;
}
.a2{
    float: right;
}
.a3{
    float: right;
    margin-top: 20px;
    margin-right: -39px;
}

.a4{
    float: right;
    margin-top: 40px;
    margin-right: -40px;
}
.pica{
    float: right;
    border-radius: 20px;
}
body{
    background-color: aqua;
}