table,tr,td{
    text-align: center;
    font-size: 50px;
}
body{
    background-color: black;
}
.a1{
 background-color: #00B6BC;
}
.a2{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.button{
    float: right;
}