.button{
    float: right;
}
.flag{
    margin-left: 600px;
    border-radius: 3px;
    width: 400px;
}
.pic1{
    width: 80%;
    margin-left: 150px;
    border-radius: 3px;
}
.pic2{
    width: 100%;
    border-radius: 3px;
}
.pic3{
    width: 700px;
    margin-left: 10px;
    border-radius: 3px;
}
.border{
    border-radius: 3px;
}
body{
    background-color: aqua;
}
.exite{
    text-decoration: none;
    color: black;
}
.exite:hover{
    width: 40px;
    height: 20px;
    background-color: black;
    color: white;
}