@keyframes animate{
    0%,
    100%{
        background-position: left top;
    }
    25%{
        background-position: right bottom;
    }
    50%{
        background-position: left bottom;
    }
    75%{
        background-position: right top;
    }
}
.name{
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: darkturquoise;
    border-radius: 10px;
}
.name:hover{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    transition: 2s;
}
.about{
    text-align: center;
    font-size: 40px;
}
.picture{
    width: 280px;
    height: 200px;
    margin-left: 600px;
}
.exite{
    text-decoration: none;
    color: brown;
}
.exite:hover{
    color:fuchsia;
}



.tran{
    margin-top: 5px;
    margin-left: 455px;
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
}
.tran pre{
    margin: 0;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.01);
    background-image: url("../picture/R.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 100s ease-in-out infinite;
    text-align: center;
    text-transform:initial;
    font-weight: 900;
}