.button{
    float: right;
}
.flag{
    width: 430px;
    height: 300px;
    margin-left: 500px;
}
.border{
    border-radius: 3px;
}
.picture1{
    width: 50%;
    border-radius: 3px;
}
.picture2{
    width: 49%;
    height: 500px;
    border-radius: 3px;
    float: right;
}
.picture3{
    width: 100%;
    border-radius: 3px;
}
.picture4{
    margin-left: 500px;
    border-radius: 3px;
}
.exite{
    text-decoration: none;
    color: black;
}
.exite:hover{
    width: 40px;
    height: 20px;
    background-color: black;
    color: white;
}