.poland{
    text-align: center;
}
.flag{
    width: 430px;
    height: 300px;
    margin-left: 560px;
    border-radius: 3px;
}
.aboutpoland{
    text-align: center;
}
.name{
    text-align: right;
    margin-right: 200px;
}
body{
    background-color: antiquewhite;
}
.film{
    float: right;
}