body{
    background-color: #89CFFD;
  }
.text{
    margin-top: 100px;
    float: right;
    text-align: center;
}
.text1{
    text-align: center;
    float: left;
}
.text2{
    float: right;
    text-align: center;
    margin-top: 90px;
}
