.navbar {
    overflow: hidden;
    background-color: rgb(196, 225, 31);
}
.navbar a {
    float: right;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
}
.subnav {
    float: right;
    overflow: hidden;
  }
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(244, 11, 11);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(0, 145, 255);
}
  
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(255, 0, 238);
    width: 100%;
    z-index: 1;
}
  
.subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
}
  
.subnav-content a:hover {
    background-color: rgb(134, 93, 93);
    color: black;
}
  .subnav:hover .subnav-content {
    display: block;
  }
.morebutton{
    padding: 5px  5px;
    border: none;
    margin-left: 30px;
}
.ahref{
    text-decoration: none;
    font-size: 25px;
}
.morecountry{
    width:20px;
}
.select{
    background-color: rgb(131, 209, 177);
    text-align: center;
    border-radius: 10px;
    border-color: red;
    margin-right: 40px;
}
.select:hover{
    background-color: darkturquoise;
}
.all{
    text-align: center;
}
.video{
    margin-top: 50px;
}
body{
    background-color: antiquewhite;
}
.button{
    border: none;
    margin-top: 15px;
    background-color: #f8f9fa;
}