.navbar {
    overflow: hidden;
    background-color: red;
}
.navbar a {
    float: right;
    font-size: 16px;
    color: yellow;
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
}
.subnav {
    float: right;
    overflow: hidden;
  }
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}
  
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}
  
.subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
}
  
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
  .subnav:hover .subnav-content {
    display: block;
  }
.morebutton{
    padding: 5px  5px;
    border: none;
    margin-left: 30px;
}
.ahref{
    text-decoration: none;
    font-size: 25px;
}
.morecountry{
    width:20px;
}